.wrap {
  padding: 20px;
  background: #ffffff;
  min-height: 100vh;
  border-radius: 5px;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.title {
  font-size: var(--heading-text);
  font-weight: var(--heading-fontweight);
  color: var(--heading-color);
  margin: 0;
}

.subtitle {
  font-size: 13px;
  color: #777;
  margin-top: 4px;
}

.addBtn {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 10px;
  background: #111827;
  color: #fff;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
}

.addBtn:hover {
  opacity: 0.9;
}

.card {
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 14px;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background: #f9fafb;
}

.table th {
  text-align: left;
  padding: 14px 18px;
  font-size: 12px;
  font-weight: 600;
  color: #666;
  border-bottom: 1px solid #ececec;
}

.table td {
  padding: 16px 18px;
  font-size: 14px;
  color: #111;
  border-bottom: 1px solid #f3f4f6;
}

.table tbody tr:hover {
  background: #fafafa;
}

.role {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.admin {
  background: #e0f2fe;
  color: #0369a1;
}

.cashier {
  background: #f3e8ff;
  color: #7e22ce;
}