/* Settings.module.css */

.container {
  display: flex;
  height: calc(100vh - 70px);
  background: #f5f5f5;
}

.sidebar {
  width: 260px;
  min-width: 260px;
  background: #ffffff;
  border-right: 1px solid #ddd;

  display: flex;
  flex-direction: column;
}

.settingBtn {
  display: flex;
  align-items: center;

  width: 100%;

  padding: 14px 18px;

  border: none;
  border-bottom: 1px solid #f1f1f1;

  background: #ffffff;
  color: #111827;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  text-align: left;

  transition: 0.2s;
}

.settingBtn:hover {
  background: #fafafa;
}

.activeBtn {
  background: #111827;
  color: white;
}

.content {
  flex: 1;
  padding: 30px;
  background: #ffffff;
  overflow-y: auto;
}

.content h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.content p {
  color: #555;
  font-size: 15px;
}