* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.main-content {
  margin-left: 180px;
  padding-top: 84px;    
  padding: 84px 20px 20px 20px;
}

.main-content {
  margin-left: 220px;
  padding: 84px 20px 20px 20px;

  transition: margin-left 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: margin-left;
}

.main-content.collapsed {
  margin-left: 70px;
}